{% extends 'layout.html' %}
{% from 'bootstrap/form.html' import render_form, render_field %}

{% block content %}
        {# render_form(form) #}
        <form method="post" class="form-control col-md-6 m-auto">
            <h3>请登录</h3>
            {{ form.csrf_token() }}
            <div class="col-md-12">
                <div class="input-group-prepend form-group ">
                    <i class="fa fa-user fa-lg"></i>
                   <div>{{ form.employee }}</div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group-prepend form-group">
                    <i class="fa fa-key fa-lg"></i>
                   <div>{{ form.password }}</div>
                </div>
            </div>
{#            {{ render_field(form.employee, form_type="inline") }}#}
{#            {{ render_field(form.password, form_type="inline") }}#}
            {{ form.submit }}
        </form>

{% endblock %}